#header {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 20;
    height: 21px;
    background-color: rgba(0, 245, 184, 0.6);
    vertical-align: middle;
    padding: 8px;
}

a {
    padding: 0px max(2vw, 13px);
}

#bsi {
    float: right;
    margin-right: 16px;
}