#main {
    display: inline-block;
    background-color: rgba(64, 121, 0, 0.568);
    position: absolute;
    left: calc(120px);
    top: 37px;
    width: calc(100% - 136px);
    min-width: min-content;
    padding: 8px;
}

#vid, #svg {
    padding: 20px;
}