#sidebar {
    position: fixed;
    top: 37px;
    bottom: 0px;
    width: 104px;
    background-color: rgba(175, 76, 233, 0.9);
    padding: 8px;
}

ul {
    padding: 15px;
    list-style-type: disc;
}

li {
    padding: 10px 0px;
}