#sidebar {
    position: fixed;
    top: 37px;
    bottom: 0px;
    width: 104px;
    background-color: rgba(146, 0, 231, 0.5);
    padding: 8px;
}

ul {
    padding: 15px;
    list-style-type: disc;
}

li {
    padding: 10px 0px;
}